<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137049518356-g9f4kat9q07ob0ik51or96pgpg01tmjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137049518356-g9f4kat9q07ob0ik51or96pgpg01tmjg</string>
	<key>API_KEY</key>
	<string>AIzaSyBgOSG4k8WJTnFNXrZ9fb8-tKcnMUV-Ero</string>
	<key>GCM_SENDER_ID</key>
	<string>137049518356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.dylluar.appphonebook</string>
	<key>PROJECT_ID</key>
	<string>phone-preaching</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-preaching.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137049518356:ios:fd273c0ea30dad9e1d1201</string>
	<key>DATABASE_URL</key>
	<string>https://phone-preaching.firebaseio.com</string>
</dict>
</plist>